amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
celery>=5.3.6
Django==4.2
django-celery-beat==2.8.0
django-cors-headers==4.7.0
django-timezone-field==7.1
dj-database-url==2.1.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-yasg==1.21.10
gunicorn>=21.2.0
kombu==5.5.3
pillow==11.2.1
psycopg2-binary==2.9.9
PyJWT==2.9.0.post0
python-dateutil==2.9.0.post0
python-dotenv>=1.0.1
pytz==2025.2
redis>=5.0.1
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.9.0
fastapi>=0.109.2
uvicorn>=0.27.1
motor>=3.3.2
pydantic>=2.6.1
pydantic-settings>=2.2.1
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
python-multipart>=0.0.9
pytest>=8.0.0
httpx>=0.26.0
email-validator>=2.1.0.post1
